.toolbar-icons{
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.paint-container {
  float: left;
}

#paint-area {
  border: 1px solid #757575;
  margin: 10px;
  cursor: crosshair;
  background-color:#459ac4;
}